{% if section.settings.show_excerpt %}
    <div class="article-excerpt rte mb-4">
        {% if article.excerpt.size > 0 %}
            {% if section.settings.excerpt_length != blank %}
                {{ article.excerpt | truncate: section.settings.excerpt_length }}
            {% else %}
                {{ article.excerpt }}
            {% endif %}
        {% else %}
            {{ article.content | truncate: section.settings.excerpt_length | default: 240 }}
        {% endif %}
    </div>
{% endif %}