{% if section.settings.show_posted_in and article.tags.size > 0 %}
    <div class="article-posted-in small text-muted mb-4">
        
        {{ 'blogs.article.posted_in' | t }}: 
        
        {% for tag in article.tags %}
            <a 
                href="{{ blog.url }}/tagged/{{ tag | handle }}">
                {{ tag }}</a>{% unless forloop.last %}, {% endunless %} {% comment %}Do not use in new line{% endcomment %}
        {% endfor %}

    </div>
{% endif %}