<form
    class="input-group"
    action="/search"
    style="width: 260px">
    <input
        id="minisearch-input"
        class="form-control" 
        type="search"
        name="q"
        placeholder="{{ 'general.search.label' | t }}..." 
        aria-label="{{ 'general.search.label' | t }}">
    <button
        class="btn btn-primary"
        type="submit">
        {{ 'general.search.submit' | t }}
    </button>
</form>