{% unless shop.enabled_payment_types == empty %}
  <ul 
    class="payment-icons"
    aria-label="{{ 'general.accessibility.payment_methods' | t }}">
    {% for type in shop.enabled_payment_types %}
      <li 
        class="" 
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="{{ type | replace: "_", " " | camelcase }}">
        {{ type | payment_type_svg_tag: class: 'icon' }}
      </li>
    {% endfor %}
  </ul>
  <small class="payment-icons-text">
    {{ 'general.payment_icons.secure' | t }}
  </small>
{% endunless %}