{% comment %}
    Toast (snackbar) are used to display ajax messages like
    when adding an item to cart. Toasts are fully accessible.
{% endcomment %}

<div 
    id="toast" 
    class="toast hide"
    data-bs-delay="6000"
    data-img-width="80"
    data-img-height="80"
    data-img-thumbnail="true"
    aria-live="assertive" 
    aria-atomic="true"
    role="alert">
    <div class="toast-header">
        <strong class="toast-title me-auto d-flex align-items-center">
            <!-- Injected via JS -->
        </strong>
        <button 
            class="btn-close"
            type="button" 
            data-bs-dismiss="toast"
            aria-label="Close">
        </button>
    </div>
    <div class="toast-body">
        <!-- Injected via JS -->
    </div>
</div>