{% unless section.settings.announcement == blank %}
    <div class="text-center {{ section.settings.color }}">
        <div class="container rte small py-1">
            {{ section.settings.announcement }}
        </div>
    </div>
{% endunless %}

{% schema %}
{
    "name": "Announcement",
    "settings": [
        {
            "type": "richtext",
            "id": "announcement",
            "label": "Announcement",
            "default": "<p>Announce something important here</p>",
            "info": "Leave empty to disable"
        },
        {
            "type": "select",
            "id": "color",
            "label": "Color",
            "options": [
                { "value": "bg-white text-body", "label": "White" },
                { "value": "bg-light text-body", "label": "Light" },
                { "value": "bg-dark text-white", "label": "Dark" },
                { "value": "bg-primary text-white", "label": "Primary" },
                { "value": "bg-secondary text-white", "label": "Secondary" }
            ],
            "default": "bg-dark text-white"
        }
    ]
}
{% endschema %}