/*
    © 2021 Firetheme.com
*/

/* 
    Product price 
*/
.product-price-compare:not(.d-none) + .product-price-final {
    color: var(--bs-green);
}


/* 
    Challenge
*/
.shopify-challenge__container {
    padding: 2rem 0;
}


/* 
    RTE (Rich Text Editor)
*/
.rte {}

.rte p:last-child {
    margin-bottom: 0;
}

.rte img {
    max-width: 100%;
    height: auto;
}


/* 
    Errors
*/
.errors {}


/* 
    Social sharing 
*/
ul.social-sharing {}

ul.social-sharing li a[href*="facebook"]:hover,
ul.social-sharing li a[href*="facebook"]:focus {
    background: #3b5998 !important;
    border-color: #3b5998;
    color: white !important;
}

ul.social-sharing li a[href*="twitter"]:hover,
ul.social-sharing li a[href*="twitter"]:focus {
    background: #1da1f2 !important;
    border-color: #1da1f2;
    color: white !important;
}

ul.social-sharing li a[href*="pinterest"]:hover,
ul.social-sharing li a[href*="pinterest"]:focus {
    background: #bd081c !important;
    border-color: #bd081c;
    color: white !important;
}

ul.social-sharing li a[href*="whatsapp"]:hover,
ul.social-sharing li a[href*="whatsapp"]:focus {
    background: #25D366 !important;
    border-color: #25D366;
    color: white !important;
}

ul.social-sharing li a[href*="mailto:?subject"]:hover,
ul.social-sharing li a[href*="mailto:?subject"]:focus {
    background: #6c757d !important;
    border-color: #6c757d;
    color: white !important;
}
