/*
    © 2021 Firetheme.com
*/

/* 
    Announcement 
*/
#announcement {}


/* 
    Navbar 
*/
#nav-item-cart .badge {
    padding: 0.2rem .3rem;
    background-color: white;
    color: var(--bs-dark);
}

.bg-white #nav-item-cart .badge,
.bg-light #nav-item-cart .badge {
    background-color: var(--bs-primary);
    color: white;
}


/* 
    Footer 
*/
#footer.bg-primary a,
#footer.bg-secondary a,
#footer.bg-dark a {
    color: white;
}


/* 
    Carousel 
*/
.carousel .carousel-item img {
    width: 100%;
    height: auto;
    min-height: 340px;
    object-fit: cover;
}


/* 
    Featured products 
*/
.featured-products {}


/* 
    Featured collections 
*/
.featured-collections {}
