/*
    © 2021 Firetheme.com
*/

/* 
    Announcement 
*/
#shopify-section-announcement p {
    margin-bottom: 0;
}


/* 
    Navbar 
*/
#nav-item-cart .badge {
    padding: 0.2rem .3rem;
    background-color: white;
    color: var(--bs-dark);
}

.bg-white #nav-item-cart .badge,
.bg-light #nav-item-cart .badge {
    background-color: var(--bs-primary);
    color: white;
}


/* 
    Carousel 
*/
.carousel .carousel-item img {
    width: 100%;
    height: auto;
    min-height: 340px;
    object-fit: cover;
}