<article class="my-6 container text-center">
  <h1>{{ '404.title' | t }}</h1>
  <p class="mb-4">{{ '404.subtext_html' | t }}</p>
  <a href="/" class="btn btn-outline-primary">Go to homepage</a>
</article>

<style>
  #site-main {
    flex: 1;
    display: flex;
    align-items: center;
  }
</style>
