<div class="container text-center my-14 my-desktop-18">
  <h1 class="mb-4">
    {{ 'general.404_page.title' | t }}
  </h1>
  <p class="lead mb-7">
    {{ 'general.404_page.subtext' | t }}
  </p>
  <a 
    href="{{ routes.root_url }}" 
    class="btn btn-primary">
    {{ 'general.404_page.button' | t }}
  </a>
</div>
