
<article class="page py-10">
    <div class="container">
        <h1 class="title mb-4">
            {{ page.title }}
        </h1>
        <div class="description rte">
            {{ page.content }}
        </div>
    </div>
</section>