/*
  Mostly Bootstrap components enhanced or modified
*/

// Horizontal rules
hr {
  .bg-dark &,
  .bg-primary & {
    border-top-color: $hr-white-border-color;
  }
}

// Nav
.nav-link {
  transition: all .2s ease-out;
}

// Dropdown
.dropdown-item {
  transition: background-color .2s ease-out;
}

// Modal
.modal-dialog {
  .modal.zoom-in & {
    transform: $modal-zoom-in-transform;
  }
  .modal.zoom-out & {
    transform: $modal-zoom-out-transform;
  }
  .modal.show & {
    transform: $modal-show-transform;
  }
}

@include media-breakpoint-up(lg) {
  .modal-full {
    max-width: calc(100vh - 3.5rem);
  }
}

// Buttons


// Toasts
.toast {
  &.toast-bottom-center {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1080;
    min-width: 280px;
  }
  &.toast-bottom-right {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 1080;
    min-width: 280px;
  }
}

// Tables
.table-responsive-collapse {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        thead {
          display: none;
        }
        tbody tr {
          border: 1px solid $border-color;
          border-radius: 4px;
          display: block;
          margin-bottom: 1rem;
          padding-bottom: .5rem;
          td {
            width: auto;
            display: block;
            border: none;
            text-align: left!important;
            padding-top: .25rem;
            padding-bottom: .25rem;
            &:before {
              content: attr(data-label);
              font-weight: bold;
              display: inline-block;
              margin-right: 1rem;
              width: calc(50% - .5rem);
              text-align: right;
            }
            &:first-child {
              background: $light;
              margin-bottom: .75rem;
              padding-top: .75rem;
              padding-bottom: .75rem;
            }
          }
        }
      }
    }
  }
}
// Images
.image-hover-fade-in {
  img, svg {
    transition: all .2s ease-out;
    opacity: .75;
    @at-root a:hover .image-hover-fade-in {
      img, svg {
        opacity: 1;
      }
    }
  }
}

.image-hover-fade-out {
  img, svg {
    transition: all .2s ease-out;
     @at-root a:hover .image-hover-fade-out {
       img, svg {
         opacity: 0.75;
       }
     }
  }
}

.image-hover-scale-in {
  img, svg {
    transition: all .2s ease-out;
    @at-root a:hover .image-hover-scale-in {
      img, svg {
        transform: scale(1.25);
      }
    }
  }
}

.image-hover-scale-out {
  img, svg {
    transition: all .2s ease-out;
    transform: scale(1.25);
    @at-root a:hover .image-hover-scale-out {
      img, svg {
        transform: scale(1);
      }
    }
  }
}

.image-hover-flashing {
  img, svg {
    @at-root a:hover .image-hover-flashing {
      img, svg {
        opacity: 1;
        animation: image_hover_flashing 1.5s;
      }
    }
  }
}

.image-hover-shine {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(white, 0) 0%, rgba(white, .3) 100%);
    transform: skewX(-25deg);
    @at-root a:hover .image-hover-shine:before {
      animation: image_hover_shine 1s;
    }
  }
}

@keyframes image_hover_flashing {
  0% { opacity: .4; }
  100% { opacity: 1; }
}

@keyframes image_hover_shine {
  100% { left: 150%; }
}
