/*
  Theme layout styles
*/

// General
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Header
#site-header {

}

// Main
#site-main {
  flex: 1;
}

// Footer
#site-footer {
  &.bg-dark,
  &.bg-primary {
    a {
      color: white;
      text-decoration: underline;
      &:hover {
        color: rgba(white, .75);
        text-decoration: underline;
      }
    }
  }
}