
// Links
a {
  .bg-dark &,
  .bg-primary & {
    color: $link-white-color;
    text-decoration: $link-white-decoration;

    @include hover() {
      color: $link-white-hover-color;
      text-decoration: $link-white-hover-decoration;
    }
    
  }
}