/*
  Shopify related styles
*/

// Callenge
.shopify-challenge__container {
  @extend .mt-8;
  .btn {
    @extend .btn-primary;
  }
}

// Errors
.errors {
  @extend .alert, .alert-danger;
  ul {
    @extend .list-unstyled, .mb-0;
  }
}

// OptionSelectors script
.selector-wrapper {
  @extend .form-group;
  select {
    @extend .custom-select;
  }
}

// Product Discount badge
.product-discount-badge {
  color: white;
  display: inline-block;
  padding: .1rem .25rem;
  z-index: 2;
  position: absolute;
  top: 0;
  &.badge-left {
    left: 0;
    border-bottom-right-radius: 4px;
  }
  &.badge-right {
    right: 0;
    border-bottom-left-radius: 4px;
  }
}
.img-thumbnail .product-discount-badge {
  top: 4px;
  &.badge-left {
    left: 4px;
  }
  &.badge-right {
    right: 4px;
  }
}

// Search form on header
#navbar-search {
  .dropdown-menu {
    width: calc(100vw - 1.75rem);
    input[type=search] {
      width: 100% !important;
    }
    
    @include media-breakpoint-up(sm) {
      width: auto;
      input[type=search] {
        width: auto;
      }
    }
  }
}

// Search page
body.template-search {
  #search-page-form {

    &.has-search-types {

      .custom-select {
        max-width: 220px;
      }
      
      @include media-breakpoint-down(md) {
        input[type=search] {
          border-radius: $input-border-radius;
        }
        .custom-select {
          width: 100%;
          max-width: none;
          margin: .75rem 0;
          border-radius: $input-border-radius;
        }
        .btn {
          border-radius: $btn-border-radius;
        }
      }

    }
  }
}

// Addresses
input[id*=address_default_address] {
  @extend .custom-control-input;
}